.nft {
  .artists {
    margin-top: 100px;

    .cards {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .item {
        padding: 10px;
        box-shadow: $cards-shadow;
        background-color: $white-color;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &:nth-child(even) {
          margin-top: 25px;
        }

        &-avatar {
          max-width: 200px;
          max-height: 200px;
          border-radius: 15px;
          overflow: hidden;

          &__image {
            width: 100%;
            height: auto;
          }
        }

        &__name {
          color: $dark-color;
          font-weight: 700;
          margin-top: 15px;
        }

        &__job {
          color: $grey-color;
          font-weight: 500;
          font-size: .8rem;
          margin-top: 5px;
        }

        &-links {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          &__icon {

            img {
              filter: grayscale(100%);
              width: 20px;
              height: 20px;
              transition: all .7s ease;

              &:hover {
                filter: grayscale(0);
              }
            }
          }
        }
      }
    }
  }
}