.nft {
  .discover {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &__eth,
    &__circle,
    &__circle2,
    &__x {
      position: absolute;
    }

    &__eth {
      width: 25px;
      height: 25px;
      bottom: 25%;
      left: 25%;
    }

    &__circle {
      width: 15px;
      height: 15px;
      bottom: -25%;
      left: 60%;
    }

    &__circle2 {
      width: 20px;
      height: 20px;
      bottom: -75%;
      left: 30%;
    }

    &__x {
      width: 15px;
      height: 15px;
      right: 25%;
      top: 15%;
    }

    &__description {
      margin-top: 25px;
      max-width: 350px;
      text-align: center;
    }

    &-links {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &__item {
        img {
          width: 25px;
          height: 25px;
          filter: grayscale(100%);
          transition: all .5s ease;

          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}